$base-color: rgba(24, 156, 0, 1) !default;
$default-placeholder-color: #ccc !default;
// Text
$main-text-color: #d8d8d8;
$body-font-family: "Helvetica Neue", "Segoe UI", Helvetica, "Ubuntu Light", Arial, sans-serif;
$body-text-color: #fff;
$body-line-height: 1.5 !default;
$body-font-size: 16px !default;
$body-header-height: 34px !default;

// Backgrounds
$body-secondary-background-color: rgba(248, 248, 248, 1) !default;
$page-background-color: #121111;
$gray-backgorund-color: #221f1f;

// Borders
$body-border-color: rgba(232, 232, 232, 1) !default;
$body-border-width: 1px !default;
$border-color: #9E9E9E;

// Links
$body-link-color: #189c00;

// sections
$section-height: 600px;

// Breakpoints
$breakpoints: (
    'xs': 370px,
    's': 480px,
    'ms': 780px,
    'm': 1280px,
) !default;
$media-desktop: 'only screen and (min-width: 966px)' !default;
// Form

$label-color: #189c00;;
$input-border-color: #000000;
$input-placeholder-color: #302f31;

//animations
$main-transition: all .3s ease-in-out;
