<template>
  <button class="c-ButtonComponent" :style="colorStyle" @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import {Prop} from 'vue-property-decorator';

@Options({})
export default class ButtonComponent extends Vue {
  @Prop({type: String, default: 'rgba(24, 156, 0, 1)'}) color!: string;

  get colorStyle (): any {
    return {
      'background-color': this.color
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "ButtonComponent";
</style>
