$default-transition: all .25s ease-in-out;

.c-ButtonComponent {
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  padding: 0 rem(10);
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: middle;
  transition: $default-transition;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  height: 35px;
  border-radius: 4px;

  &:focus,
  &:hover {
    opacity: .9;
    outline: none;
    transition: $default-transition;
  }

  &:active {
    opacity: 1;
    transition: $default-transition;
    transform: scale(0.97);
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}
