<template>
  <section class="c-filter-component">
    <form v-on:change="formChange()">
      <div class="form-group" v-for="(value, key) in genres">
        <input type="checkbox" :id="key+value" :value="key" v-model="checkedGenres">
        <label :for="key+value">{{value}}</label>
      </div>
    </form>
  </section>
</template>

<script lang="ts">
  import {Options, Vue} from 'vue-class-component'
  import {movieGenres} from '@/shared/data'
  import {Action} from 'vuex-class'

  @Options({})
  export default class FilterComponent extends Vue {
    @Action updateGenreFilter!: (genres: number[]) => void;

    genres: { [key: number]: string } = movieGenres;
    checkedGenres = [];

    formChange() {
      const genres: number[] = [...this.checkedGenres].map((genreId) => parseInt(genreId, 10))
      this.updateGenreFilter(genres)
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../scss/utils/variables";

  .form-group {
    display: inline-block;
    margin: 6px;

    input, label {
      cursor: pointer;
      padding: 5px;
    }

    input:checked + label {
      color: lighten($label-color, 15%);
    }
  }

  .c-filter-component {
    width: 100%;
    min-height: 80px;
    text-align: left;
    color: $label-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
