.c-card {
  width: 220px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9E9E9E;
  margin: 10px;
  background: rgb(0,0,0);
  position: relative;
  transition: all .5s ease-in-out;
  &:hover {
    transform: skewY(1deg);
  }
  &:active {
    transform: scale(1.1);
    border: none;
    transition: all .2s ease-in-out;
  }
}

.c-card__image {
  width: 218px;
  height: 320px;
  object-fit: cover;
}

.c-card__title, h3 {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.c-card__info::before {
  content: '';
  position: absolute;
  width: 218px;
  height: 40px;
  z-index: 9;
  top: -40px;
  left: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 100%);
}

.c-card__info {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  box-sizing: border-box;
}
