<template>
  <section class="c-card">
    <img :src="moviePosterPath" alt="" class="c-card__image">
    <div class="c-card__info">
      <h3 class="c-card__title">{{movie.title}}</h3>
    </div>
  </section>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import { Movie } from '@/models/models'
import {Prop} from 'vue-property-decorator';

  @Options({})
export default class Card extends Vue {
    @Prop({type: Object, default: ''}) movie!: Movie;

    get moviePosterPath (): string {
      return `https://image.tmdb.org/t/p/w342/${this.movie.poster_path}`
    }
}
</script>

<style lang="scss" scoped>
  @import "Card";
</style>
