<template>
  <div class="home">
    <h1>Favorite movies</h1>
    <div class="movies-container ">
      <div v-for="(movie, index) in getSelectedMovies" :key="index + movie">
        <router-link :to="`/movie/${movie.id}`">
          <Card :movie="movie"/>
        </router-link>
        <button-component @click="removeFromFavorites(movie)" class="remove-btn" :color="'red'">
          REMOVE
        </button-component>
      </div>
      <div v-if="!getSelectedMovies.length">No favorites selected!</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import { Action, Getter } from 'vuex-class'
import { Movie } from '@/models/models'
import Card from '@/components/Card/Card.vue'
import ButtonComponent from '@/components/ButtonComponent/ButtonComponent.vue'

@Options({
  components: {
    Card,
    ButtonComponent
  }
})
export default class Favourite extends Vue {
  @Getter getSelectedMovies?: Movie[];
  @Action removeFromFavorites!: Movie;
}
</script>
<style lang="scss" scoped>
  @import '../scss/main';

</style>
