<template>
  <div class="home">
    <h1>Popular Movies</h1>
    <br>
    <expandable>
      <template v-slot:title>Filters</template>
      <filter-component/>
    </expandable>
    <div class="movies-container ">
      <div v-for="(movie, index) in getPopularMovies"
           :class="{'selected': isSelected(movie.id)}"
      >
        <router-link :to="`/movie/${movie.id}`">
          <Card :movie="movie"/>
        </router-link>
        <button-component @click="addFavorites(movie)" class="add-btn">
          ADD
        </button-component>
        <button-component @click="removeFromFavorites(movie)" :color="'red'" class="remove-btn">
          REMOVE
        </button-component>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Action, Getter } from 'vuex-class'
import { Movie } from '@/models/models'
import Expandable from '@/components/Expandable/Expandable.vue'
import Card from '@/components/Card/Card.vue'
import ButtonComponent from '@/components/ButtonComponent/ButtonComponent.vue'
import FilterComponent from '@/components/FilterComponent/FilterComponent.vue'
import { Options, Vue } from 'vue-class-component'

  @Options({
    components: {
      Card,
      Expandable,
      ButtonComponent,
      FilterComponent
    }
  })
export default class Home extends Vue {
    @Getter getPopularMovies!: Movie[];
    @Getter getSelectedMovies!: Movie[];
    @Action addFavorites!: (movie: Movie) => void;
    @Action removeFromFavorites!: (movie: Movie) => void;
    @Action loadPopularMovies!: () => boolean;

    isSelected (movieId: string): boolean {
      return this.getSelectedMovies.some((m) => m.id === movieId)
    }

    async created () {
      await this.loadPopularMovies()
    }
}
</script>
<style lang="scss" scoped>
  @import '../scss/main';

  .remove-btn {
    display: none;
  }

  .selected {
    .c-card {
      border: 1px solid red;
      box-shadow: 3px -5px 10px 0px rgba(255, 87, 34, 0.39);
    }

    .add-btn {
      display: none;
    }

    .remove-btn {
      display: initial;
    }
  }
</style>
