<template>
  <section class="c-Expandable">
    <button
      class="expandable-button"
      :class="{'active':  isOpened}"
      @click="toggleExandable()">
      <slot name="title"></slot>
      <img class="accordion__arrow-img"
           src="@/assets/arrow-down@2x.png" alt="arrow icon">
    </button>
    <div class="flex-center expandable-panel">
      <slot></slot>
    </div>
  </section>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import { Emit } from 'vue-property-decorator'

@Options({})
export default class Expandable extends Vue {
  isOpened = false;

  @Emit('isOpened')
  toggleExandable (): void {
    this.isOpened = !this.isOpened
    this.$emit('isOpened', this.isOpened);
  }
}
</script>

<style lang="scss" scoped>
  @import "Expandable";
</style>
