@import '../../scss/main';
$light-gray-color: #e8e8e8;
$primary-transition: all 250ms ease-in-out;
.faq__title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}

.expandable-button {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $light-gray-color;
  background: linear-gradient(0deg, rgba(0,0,3,1) 0%, rgba(29,29,29,1) 100%, rgba(0,212,255,1) 100%);
  border-radius: 4px;


  &:hover {
    transition: $primary-transition;
    filter: brightness(120%);
  }

  &:active {
    transition: $primary-transition;
    filter: brightness(80%);
  }

  &:focus {
    filter: brightness(1.2);
    transition: $primary-transition;
  }
}

.expandable-panel {
  padding: 0 18px;
  height: 0;
  overflow: hidden;
  border-bottom: $border-color solid 1px;
  transition: $primary-transition;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;

  p {
    margin: 5px 0;
  }
}

.expandable-button.active + .expandable-panel {
  height: 7em;
  transition: $primary-transition;
  @include respond-to("ms") {
    height: 11em;
  }
  @include respond-to("s") {
    height: 17em;
  }
}

.accordion__arrow-img {
  width: 13px;
  height: 6px;
  transition: $primary-transition;
}

.expandable-button.active {
  border-bottom: none;

  .accordion__arrow-img {
    transform: rotate(180deg);
  }
}
